#wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('../design/pg_inicial/bg.png');
    background-size: cover;
}
.backdrop {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, .9);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btacesso{
    max-width: 60%;
    right: 0;
}
.btacesso:hover{
    cursor: pointer;
}
.btjogador,.btbola,.btgoleiro,.btacesso{
    position: absolute;
}
.btjogador{bottom: 5%; left: 15%;}
.btbola{bottom: 5%; left: 40%;}
.btgoleiro{right: 10%; bottom:20%}
.modal-intro {
    background-image: url('../design/pg_inicial/Video-apresentacao-gd.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-intro p {
    margin-top: -70px;
    color: white;
}
.footer {
    display: flex;
    justify-content: end;
    width: 480px;
    padding-top: 10px;
}
.botao-fechar,
.botao-fechar-2 {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: 2px 1px 3px #333;
}
.botao-fechar:hover,
.botao-fechar-2:hover {
    transform: translateY(-3px);
}
.ytb {
    height: 300px;
    width: 480px;
    margin: 10px auto;
    background-color: white;
}
.ilustra {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
.titulo {
    position: absolute;
    left: 10%;
    z-index: 15;
}
.start-bt {
    background-image: url('../design/pg_inicial/btn_hover_scale.png');
    width: 193px;
    height: 139px;
    position: absolute;
    z-index: 15;
    right: 12%;
    top: 49%;
    display: block;
}
.start-bt:hover {
    transform: scale(1.05) !important;
}
.non-visible {display: none;}
.botao-video {
    position: absolute;
    top: 175px;
    left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao-video p {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
.video-pq {
    height: 150px;
    width: 150px;
    background-image: url('../design/pg_inicial/Video-apresentacao-pq.png'); 
    background-size: contain;
    background-position: center;
    display: flex;
    padding-left: 29px;
    padding-top: 23px;
}
.img-play {
    height:85px;
    width: 85px;
}
.video-pq:hover {
    transform: scale(1.02);
    cursor: pointer;
}
@media (max-width: 1000px) {
    .modal-intro {
        padding-top: 180px;
    }
    .botao-fechar {
        margin-top: 70px;
    }
    .start-bt {
        top: 75%;
        right: 40%;
    }
}
@media (max-width:500px) {
    .modal-intro {
        width: 100%;
        padding: 15px;
        background-image: unset;
    }
    .footer {
        width: 100%;
    }
    .ytb {
        width: 100%;
    }
    .titulo {
        left: 0;
        max-width: 100%;
    }
    .start-bt {
        right: 30%;
    }
}